<a href="https://colab.research.google.com/github/shaon11579/2022-spring-NLP-/blob/main/Synthetic%20data%20generation%20may%2021%20.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
#first we need to install the package
!pip install sdv
#load a sample dataset
from sdv.demo import load_tabular_demo
data = load_tabular_demo('student_placements')
data.head(20)

Collecting sdv
  Downloading sdv-0.14.1-py2.py3-none-any.whl (103 kB)
     |████████████████████████████████| 103 kB 5.2 MB/s
Collecting copulas<0.7,>=0.6.1
  Downloading copulas-0.6.1-py2.py3-none-any.whl (52 kB)
     |████████████████████████████████| 52 kB 1.3 MB/s
Requirement already satisfied: numpy<2,>=1.20.0 in /usr/local/lib/python3.7/dist-packages (from sdv) (1.21.6)
Collecting deepecho<0.4,>=0.3.0.post1
  Downloading deepecho-0.3.0.post1-py2.py3-none-any.whl (26 kB)
Requirement already satisfied: tqdm<5,>=4.15 in /usr/local/lib/python3.7/dist-packages (from sdv) (4.64.0)
Collecting ctgan<0.6,>=0.5.1
  Downloading ctgan-0.5.1-py2.py3-none-any.whl (24 kB)
Requirement already satisfied: pandas<2,>=1.1.3 in /usr/local/lib/python3.7/dist-packages (from sdv) (1.3.5)
Collecting Faker<10,>=3.0.0
  Downloading Faker-9.9.1-py3-none-any.whl (1.2 MB)
     |████████████████████████████████| 1.2 MB 38.3 MB/s
Collecting graphviz<1,>=0.13.2
  Downloading graphviz-0.20-py3-none-any.whl (46 kB)
     |████████████████████████████████| 46 kB 3.8 MB/s
Collecting rdt<0.7,>=0.6.2
  Downloading rdt-0.6.4-py2.py3-none-any.whl (45 kB)
     |████████████████████████████████| 45 kB 3.7 MB/s
Collecting sdmetrics<0.5,>=0.4.1
  Downloading sdmetrics-0.4.1-py2.py3-none-any.whl (97 kB)
     |████████████████████████████████| 97 kB 6.6 MB/s
Collecting scipy<2,>=1.5.4
  Downloading scipy-1.7.3-cp37-cp37m-manylinux_2_12_x86_64.manylinux2010_x86_64.whl (38.1 MB)
     |████████████████████████████████| 38.1 MB 81.3 MB/s
Collecting matplotlib<4,>=3.4.0
  Downloading matplotlib-3.5.2-cp37-cp37m-manylinux_2_5_x86_64.manylinux1_x86_64.whl (11.2 MB)
     |████████████████████████████████| 11.2 MB 51.6 MB/s
Requirement already satisfied: torchvision<1,>=0.9.0 in /usr/local/lib/python3.7/dist-packages (from ctgan<0.6,>=0.5.1->sdv) (0.12.0+cu113)
Requirement already satisfied: torch<2,>=1.8.0 in /usr/local/lib/python3.7/dist-packages (from ctgan<0.6,>=0.5.1->sdv) (1.11.0+cu113)
Requirement already satisfied: scikit-learn<2,>=0.24 in /usr/local/lib/python3.7/dist-packages (from ctgan<0.6,>=0.5.1->sdv) (1.0.2)
Requirement already satisfied: packaging<22,>=20 in /usr/local/lib/python3.7/dist-packages (from ctgan<0.6,>=0.5.1->sdv) (21.3)
Requirement already satisfied: python-dateutil>=2.4 in /usr/local/lib/python3.7/dist-packages (from Faker<10,>=3.0.0->sdv) (2.8.2)
Requirement already satisfied: text-unidecode==1.3 in /usr/local/lib/python3.7/dist-packages (from Faker<10,>=3.0.0->sdv) (1.3)
Requirement already satisfied: typing-extensions>=3.10.0.2 in /usr/local/lib/python3.7/dist-packages (from Faker<10,>=3.0.0->sdv) (4.2.0)
Requirement already satisfied: cycler>=0.10 in /usr/local/lib/python3.7/dist-packages (from matplotlib<4,>=3.4.0->copulas<0.7,>=0.6.1->sdv) (0.11.0)
Requirement already satisfied: pyparsing>=2.2.1 in /usr/local/lib/python3.7/dist-packages (from matplotlib<4,>=3.4.0->copulas<0.7,>=0.6.1->sdv) (3.0.9)
Requirement already satisfied: pillow>=6.2.0 in /usr/local/lib/python3.7/dist-packages (from matplotlib<4,>=3.4.0->copulas<0.7,>=0.6.1->sdv) (7.1.2)
Requirement already satisfied: kiwisolver>=1.0.1 in /usr/local/lib/python3.7/dist-packages (from matplotlib<4,>=3.4.0->copulas<0.7,>=0.6.1->sdv) (1.4.2)
Collecting fonttools>=4.22.0
  Downloading fonttools-4.33.3-py3-none-any.whl (930 kB)
     |████████████████████████████████| 930 kB 28.1 MB/s
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.7/dist-packages (from pandas<2,>=1.1.3->sdv) (2022.1)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.4->Faker<10,>=3.0.0->sdv) (1.15.0)
Collecting pyyaml<6,>=5.4.1
  Downloading PyYAML-5.4.1-cp37-cp37m-manylinux1_x86_64.whl (636 kB)
     |████████████████████████████████| 636 kB 43.4 MB/s
Collecting psutil<6,>=5.7
  Downloading psutil-5.9.0-cp37-cp37m-manylinux_2_12_x86_64.manylinux2010_x86_64.manylinux_2_17_x86_64.manylinux2014_x86_64.whl (280 kB)
     |████████████████████████████████| 280 kB 42.5 MB/s
Requirement already satisfied: joblib>=0.11 in /usr/local/lib/python3.7/dist-packages (from scikit-learn<2,>=0.24->ctgan<0.6,>=0.5.1->sdv) (1.1.0)
Requirement already satisfied: threadpoolctl>=2.0.0 in /usr/local/lib/python3.7/dist-packages (from scikit-learn<2,>=0.24->ctgan<0.6,>=0.5.1->sdv) (3.1.0)
Collecting pyts<0.13.0,>=0.12.0
  Downloading pyts-0.12.0-py3-none-any.whl (2.5 MB)
     |████████████████████████████████| 2.5 MB 56.2 MB/s
Requirement already satisfied: numba>=0.48.0 in /usr/local/lib/python3.7/dist-packages (from pyts<0.13.0,>=0.12.0->sdmetrics<0.5,>=0.4.1->sdv) (0.51.2)
Requirement already satisfied: llvmlite<0.35,>=0.34.0.dev0 in /usr/local/lib/python3.7/dist-packages (from numba>=0.48.0->pyts<0.13.0,>=0.12.0->sdmetrics<0.5,>=0.4.1->sdv) (0.34.0)
Requirement already satisfied: setuptools in /usr/local/lib/python3.7/dist-packages (from numba>=0.48.0->pyts<0.13.0,>=0.12.0->sdmetrics<0.5,>=0.4.1->sdv) (57.4.0)
Requirement already satisfied: requests in /usr/local/lib/python3.7/dist-packages (from torchvision<1,>=0.9.0->ctgan<0.6,>=0.5.1->sdv) (2.23.0)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from requests->torchvision<1,>=0.9.0->ctgan<0.6,>=0.5.1->sdv) (3.0.4)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests->torchvision<1,>=0.9.0->ctgan<0.6,>=0.5.1->sdv) (1.24.3)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests->torchvision<1,>=0.9.0->ctgan<0.6,>=0.5.1->sdv) (2021.10.8)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests->torchvision<1,>=0.9.0->ctgan<0.6,>=0.5.1->sdv) (2.10)
Installing collected packages: scipy, fonttools, pyyaml, psutil, matplotlib, rdt, pyts, copulas, sdmetrics, graphviz, Faker, deepecho, ctgan, sdv
  Attempting uninstall: scipy
    Found existing installation: scipy 1.4.1
    Uninstalling scipy-1.4.1:
      Successfully uninstalled scipy-1.4.1
  Attempting uninstall: pyyaml
    Found existing installation: PyYAML 3.13
    Uninstalling PyYAML-3.13:
      Successfully uninstalled PyYAML-3.13
  Attempting uninstall: psutil
    Found existing installation: psutil 5.4.8
    Uninstalling psutil-5.4.8:
      Successfully uninstalled psutil-5.4.8
  Attempting uninstall: matplotlib
    Found existing installation: matplotlib 3.2.2
    Uninstalling matplotlib-3.2.2:
      Successfully uninstalled matplotlib-3.2.2
  Attempting uninstall: graphviz
    Found existing installation: graphviz 0.10.1
    Uninstalling graphviz-0.10.1:
      Successfully uninstalled graphviz-0.10.1
ERROR: pip's dependency resolver does not currently take into account all the packages that are installed. This behaviour is the source of the following dependency conflicts.
albumentations 0.1.12 requires imgaug<0.2.7,>=0.2.5, but you have imgaug 0.2.9 which is incompatible.
Successfully installed Faker-9.9.1 copulas-0.6.1 ctgan-0.5.1 deepecho-0.3.0.post1 fonttools-4.33.3 graphviz-0.20 matplotlib-3.5.2 psutil-5.9.0 pyts-0.12.0 pyyaml-5.4.1 rdt-0.6.4 scipy-1.7.3 sdmetrics-0.4.1 sdv-0.14.1

,student_id,gender,second_perc,high_perc,high_spec,degree_perc,degree_type,work_experience,experience_years,employability_perc,mba_spec,mba_perc,salary,placed,start_date,end_date,duration
0,17264,M,67.00,91.00,Commerce,58.00,Sci&Tech,False,0,55.00,Mkt&HR,58.80,27000.0,True,2020-07-23,2020-10-12,3.0
1,17265,M,79.33,78.33,Science,77.48,Sci&Tech,True,1,86.50,Mkt&Fin,66.28,20000.0,True,2020-01-11,2020-04-09,3.0
2,17266,M,65.00,68.00,Arts,64.00,Comm&Mgmt,False,0,75.00,Mkt&Fin,57.80,25000.0,True,2020-01-26,2020-07-13,6.0
3,17267,M,56.00,52.00,Science,52.00,Sci&Tech,False,0,66.00,Mkt&HR,59.43,NaN,False,NaT,NaT,NaN
4,17268,M,85.80,73.60,Commerce,73.30,Comm&Mgmt,False,0,96.80,Mkt&Fin,55.50,42500.0,True,2020-07-04,2020-09-27,3.0
5,17269,M,55.00,49.80,Science,67.25,Sci&Tech,True,1,55.00,Mkt&Fin,51.58,NaN,False,NaT,NaT,NaN
6,17270,F,46.00,49.20,Commerce,79.00,Comm&Mgmt,False,0,74.28,Mkt&Fin,53.29,NaN,False,NaT,NaT,NaN
7,17271,M,82.00,64.00,Science,66.00,Sci&Tech,True,1,67.00,Mkt&Fin,62.14,25200.0,True,2020-01-26,2020-05-01,3.0
8,17272,M,73.00,79.00,Commerce,72.00,Comm&Mgmt,False,0,91.34,Mkt&Fin,61.29,23100.0,True,2020-01-26,2020-08-07,6.0
9,17273,M,58.00,70.00,Commerce,61.00,Comm&Mgmt,False,0,54.00,Mkt&Fin,52.21,NaN,False,NaT,NaT,NaN
10,17274,M,58.00,61.00,Commerce,60.00,Comm&Mgmt,True,1,62.00,Mkt&HR,60.85,26000.0,True,2020-07-06,2020-10-17,3.0
11,17275,M,69.60,68.40,Commerce,78.30,Comm&Mgmt,True,1,60.00,Mkt&Fin,63.70,25000.0,True,2020-07-03,2020-10-03,3.0
12,17276,F,47.00,55.00,Science,65.00,Comm&Mgmt,False,0,62.00,Mkt&HR,65.04,NaN,False,NaT,NaT,NaN
13,17277,F,77.00,87.00,Commerce,59.00,Comm&Mgmt,False,0,68.00,Mkt&Fin,68.63,21800.0,True,2020-01-27,2020-05-06,3.0
14,17278,M,62.00,47.00,Commerce,50.00,Comm&Mgmt,False,0,76.00,Mkt&HR,54.96,NaN,False,NaT,NaT,NaN
15,17279,F,65.00,75.00,Commerce,69.00,Comm&Mgmt,True,1,72.00,Mkt&Fin,64.66,20000.0,True,2020-07-25,2020-11-05,3.0
16,17280,M,63.00,66.20,Commerce,65.60,Comm&Mgmt,True,1,60.00,Mkt&Fin,62.54,30000.0,True,2020-01-29,2020-08-09,6.0
17,17281,F,55.00,67.00,Commerce,64.00,Comm&Mgmt,False,0,60.00,Mkt&Fin,67.28,NaN,False,NaT,NaT,NaN
18,17282,F,63.00,66.00,Commerce,64.00,Comm&Mgmt,False,0,68.00,Mkt&HR,64.08,NaN,False,NaT,NaT,NaN
19,17283,M,60.00,67.00,Arts,70.00,Comm&Mgmt,True,1,50.48,Mkt&Fin,77.89,23600.0,True,2020-01-24,2021-01-08,12.0

In [2]:
from sdv.tabular import TVAE
model = TVAE()
model.fit(data)

/usr/local/lib/python3.7/dist-packages/sklearn/mixture/_base.py:282: ConvergenceWarning: Initialization 1 did not converge. Try different init parameters, or increase max_iter, tol or check for degenerate data.
  ConvergenceWarning,
/usr/local/lib/python3.7/dist-packages/sklearn/mixture/_base.py:282: ConvergenceWarning: Initialization 1 did not converge. Try different init parameters, or increase max_iter, tol or check for degenerate data.
  ConvergenceWarning,
/usr/local/lib/python3.7/dist-packages/sklearn/mixture/_base.py:146: ConvergenceWarning: Number of distinct clusters (4) found smaller than n_clusters (10). Possibly due to duplicate points in X.
  .fit(X)
/usr/local/lib/python3.7/dist-packages/sklearn/mixture/_base.py:282: ConvergenceWarning: Initialization 1 did not converge. Try different init parameters, or increase max_iter, tol or check for degenerate data.
  ConvergenceWarning,
/usr/local/lib/python3.7/dist-packages/sklearn/mixture/_base.py:282: ConvergenceWarning: Initialization 1 did not converge. Try different init parameters, or increase max_iter, tol or check for degenerate data.
  ConvergenceWarning,
/usr/local/lib/python3.7/dist-packages/sklearn/mixture/_base.py:146: ConvergenceWarning: Number of distinct clusters (4) found smaller than n_clusters (10). Possibly due to duplicate points in X.
  .fit(X)
/usr/local/lib/python3.7/dist-packages/ctgan/data_transformer.py:111: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data[column_name] = data[column_name].to_numpy().flatten()
/usr/local/lib/python3.7/dist-packages/ctgan/data_transformer.py:111: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data[column_name] = data[column_name].to_numpy().flatten()
/usr/local/lib/python3.7/dist-packages/ctgan/data_transformer.py:111: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data[column_name] = data[column_name].to_numpy().flatten()
/usr/local/lib/python3.7/dist-packages/ctgan/data_transformer.py:111: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data[column_name] = data[column_name].to_numpy().flatten()
/usr/local/lib/python3.7/dist-packages/ctgan/data_transformer.py:111: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data[column_name] = data[column_name].to_numpy().flatten()
/usr/local/lib/python3.7/dist-packages/ctgan/data_transformer.py:111: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data[column_name] = data[column_name].to_numpy().flatten()
/usr/local/lib/python3.7/dist-packages/ctgan/data_transformer.py:111: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data[column_name] = data[column_name].to_numpy().flatten()
/usr/local/lib/python3.7/dist-packages/ctgan/data_transformer.py:111: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data[column_name] = data[column_name].to_numpy().flatten()
/usr/local/lib/python3.7/dist-packages/ctgan/data_transformer.py:111: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data[column_name] = data[column_name].to_numpy().flatten()
/usr/local/lib/python3.7/dist-packages/ctgan/data_transformer.py:111: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data[column_name] = data[column_name].to_numpy().flatten()
/usr/local/lib/python3.7/dist-packages/ctgan/data_transformer.py:111: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data[column_name] = data[column_name].to_numpy().flatten()

In [3]:
new_data = model.sample(200)
new_data.head(20)

,student_id,gender,second_perc,high_perc,high_spec,degree_perc,degree_type,work_experience,experience_years,employability_perc,mba_spec,mba_perc,salary,placed,start_date,end_date,duration
0,17322,M,47.75,71.52,Science,51.88,Comm&Mgmt,False,0,55.42,Mkt&HR,54.54,29800.0,True,2020-07-04,2020-10-21,3.0
1,17394,M,78.46,69.57,Science,63.28,Comm&Mgmt,True,1,86.91,Mkt&Fin,70.30,21700.0,True,2020-01-20,2020-10-29,3.0
2,17437,M,75.67,69.56,Commerce,58.71,Comm&Mgmt,True,1,94.62,Mkt&Fin,54.33,30000.0,True,2020-01-18,2020-09-30,3.0
3,17395,M,64.59,72.03,Commerce,64.49,Comm&Mgmt,False,0,79.16,Mkt&Fin,70.82,NaN,False,NaT,NaT,NaN
4,17377,M,73.67,89.39,Commerce,67.37,Comm&Mgmt,False,0,95.78,Mkt&Fin,62.92,23800.0,True,2020-01-22,2020-12-08,6.0
5,17416,M,71.37,60.02,Commerce,59.66,Comm&Mgmt,True,0,54.93,Mkt&Fin,56.90,22500.0,True,2020-01-10,2020-12-12,12.0
6,17339,F,78.95,66.44,Commerce,65.80,Comm&Mgmt,False,0,76.26,Mkt&Fin,67.56,28900.0,True,NaT,NaT,NaN
7,17454,M,58.60,75.64,Commerce,62.90,Comm&Mgmt,False,0,59.29,Mkt&Fin,55.70,23000.0,True,2020-01-24,2020-07-25,6.0
8,17430,M,61.89,62.07,Commerce,61.18,Comm&Mgmt,False,0,80.45,Mkt&Fin,66.56,NaN,False,NaT,NaT,NaN
9,17457,M,45.57,73.66,Commerce,60.76,Comm&Mgmt,False,0,51.11,Mkt&HR,56.27,29800.0,True,2020-03-10,2020-10-17,5.0
10,17410,M,73.84,72.58,Commerce,64.42,Comm&Mgmt,False,0,73.09,Mkt&HR,58.21,24600.0,True,2020-01-15,2020-08-26,6.0
11,17318,F,82.27,75.86,Science,71.01,Comm&Mgmt,False,0,61.95,Mkt&HR,60.12,20900.0,True,2020-01-18,2020-08-23,3.0
12,17403,M,67.66,65.47,Commerce,68.49,Comm&Mgmt,False,0,58.92,Mkt&HR,57.73,NaN,False,NaT,NaT,NaN
13,17341,F,59.26,68.23,Commerce,60.12,Comm&Mgmt,False,0,91.45,Mkt&HR,55.55,NaN,False,NaT,NaT,NaN
14,17458,M,62.72,68.86,Commerce,66.35,Comm&Mgmt,False,0,75.71,Mkt&Fin,60.02,28500.0,True,2020-01-19,2020-11-24,3.0
15,17419,M,74.52,52.96,Science,69.45,Comm&Mgmt,False,0,57.00,Mkt&HR,58.59,23700.0,True,2020-01-11,2020-07-06,6.0
16,17306,M,76.02,72.72,Commerce,64.63,Comm&Mgmt,False,0,79.87,Mkt&Fin,60.57,23600.0,True,2020-01-27,2020-11-11,3.0
17,17463,M,69.25,61.70,Commerce,55.05,Comm&Mgmt,False,0,68.56,Mkt&Fin,54.05,28800.0,True,2020-01-16,2020-12-07,3.0
18,17345,M,73.56,72.80,Commerce,72.58,Comm&Mgmt,False,0,83.16,Mkt&Fin,72.33,23200.0,True,2020-01-09,2020-03-22,3.0
19,17382,M,54.91,66.14,Commerce,53.17,Comm&Mgmt,False,0,81.46,Mkt&Fin,55.69,25600.0,True,2020-07-26,2020-08-18,3.0

In [4]:
#save the model
model.save('/bin.pkl')

In [5]:
#load the model
loaded = TVAE.load('/bin.pkl')
new_data = loaded.sample(200)

In [6]:
model = TVAE(primary_key='student_id')
model.fit(data)
new_data = model.sample(200)

/usr/local/lib/python3.7/dist-packages/sklearn/mixture/_base.py:282: ConvergenceWarning: Initialization 1 did not converge. Try different init parameters, or increase max_iter, tol or check for degenerate data.
  ConvergenceWarning,
/usr/local/lib/python3.7/dist-packages/sklearn/mixture/_base.py:282: ConvergenceWarning: Initialization 1 did not converge. Try different init parameters, or increase max_iter, tol or check for degenerate data.
  ConvergenceWarning,
/usr/local/lib/python3.7/dist-packages/sklearn/mixture/_base.py:282: ConvergenceWarning: Initialization 1 did not converge. Try different init parameters, or increase max_iter, tol or check for degenerate data.
  ConvergenceWarning,
/usr/local/lib/python3.7/dist-packages/sklearn/mixture/_base.py:146: ConvergenceWarning: Number of distinct clusters (4) found smaller than n_clusters (10). Possibly due to duplicate points in X.
  .fit(X)
/usr/local/lib/python3.7/dist-packages/sklearn/mixture/_base.py:282: ConvergenceWarning: Initialization 1 did not converge. Try different init parameters, or increase max_iter, tol or check for degenerate data.
  ConvergenceWarning,
/usr/local/lib/python3.7/dist-packages/sklearn/mixture/_base.py:146: ConvergenceWarning: Number of distinct clusters (4) found smaller than n_clusters (10). Possibly due to duplicate points in X.
  .fit(X)
/usr/local/lib/python3.7/dist-packages/ctgan/data_transformer.py:111: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data[column_name] = data[column_name].to_numpy().flatten()
/usr/local/lib/python3.7/dist-packages/ctgan/data_transformer.py:111: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data[column_name] = data[column_name].to_numpy().flatten()
/usr/local/lib/python3.7/dist-packages/ctgan/data_transformer.py:111: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data[column_name] = data[column_name].to_numpy().flatten()
/usr/local/lib/python3.7/dist-packages/ctgan/data_transformer.py:111: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data[column_name] = data[column_name].to_numpy().flatten()
/usr/local/lib/python3.7/dist-packages/ctgan/data_transformer.py:111: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data[column_name] = data[column_name].to_numpy().flatten()
/usr/local/lib/python3.7/dist-packages/ctgan/data_transformer.py:111: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data[column_name] = data[column_name].to_numpy().flatten()
/usr/local/lib/python3.7/dist-packages/ctgan/data_transformer.py:111: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data[column_name] = data[column_name].to_numpy().flatten()
/usr/local/lib/python3.7/dist-packages/ctgan/data_transformer.py:111: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data[column_name] = data[column_name].to_numpy().flatten()
/usr/local/lib/python3.7/dist-packages/ctgan/data_transformer.py:111: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data[column_name] = data[column_name].to_numpy().flatten()
/usr/local/lib/python3.7/dist-packages/ctgan/data_transformer.py:111: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data[column_name] = data[column_name].to_numpy().flatten()

In [7]:
data_pii = load_tabular_demo('student_placements_pii')
data_pii.head(20)

,student_id,address,gender,second_perc,high_perc,high_spec,degree_perc,degree_type,work_experience,experience_years,employability_perc,mba_spec,mba_perc,salary,placed,start_date,end_date,duration
0,17264,"70304 Baker Turnpike\nEricborough, MS 15086",M,67.00,91.00,Commerce,58.00,Sci&Tech,False,0,55.00,Mkt&HR,58.80,27000.0,True,2020-07-23,2020-10-12,3.0
1,17265,"805 Herrera Avenue Apt. 134\nMaryview, NJ 36510",M,79.33,78.33,Science,77.48,Sci&Tech,True,1,86.50,Mkt&Fin,66.28,20000.0,True,2020-01-11,2020-04-09,3.0
2,17266,"3702 Bradley Island\nNorth Victor, FL 12268",M,65.00,68.00,Arts,64.00,Comm&Mgmt,False,0,75.00,Mkt&Fin,57.80,25000.0,True,2020-01-26,2020-07-13,6.0
3,17267,Unit 0879 Box 3878\nDPO AP 42663,M,56.00,52.00,Science,52.00,Sci&Tech,False,0,66.00,Mkt&HR,59.43,NaN,False,NaT,NaT,NaN
4,17268,"96493 Kelly Canyon Apt. 145\nEast Steven, NC 3...",M,85.80,73.60,Commerce,73.30,Comm&Mgmt,False,0,96.80,Mkt&Fin,55.50,42500.0,True,2020-07-04,2020-09-27,3.0
5,17269,Unit 7945 Box 5398\nDPO AA 18917,M,55.00,49.80,Science,67.25,Sci&Tech,True,1,55.00,Mkt&Fin,51.58,NaN,False,NaT,NaT,NaN
6,17270,"943 Martha Wells\nOwensborough, NC 46065",F,46.00,49.20,Commerce,79.00,Comm&Mgmt,False,0,74.28,Mkt&Fin,53.29,NaN,False,NaT,NaT,NaN
7,17271,"195 Kevin Parkways Apt. 828\nToddland, TN 54615",M,82.00,64.00,Science,66.00,Sci&Tech,True,1,67.00,Mkt&Fin,62.14,25200.0,True,2020-01-26,2020-05-01,3.0
8,17272,"PSC 2024, Box 1677\nAPO AP 99732",M,73.00,79.00,Commerce,72.00,Comm&Mgmt,False,0,91.34,Mkt&Fin,61.29,23100.0,True,2020-01-26,2020-08-07,6.0
9,17273,"336 Davis Drives Apt. 411\nNew Reginashire, CT...",M,58.00,70.00,Commerce,61.00,Comm&Mgmt,False,0,54.00,Mkt&Fin,52.21,NaN,False,NaT,NaT,NaN
10,17274,"786 Shane Bridge Suite 165\nNorth Douglas, GA ...",M,58.00,61.00,Commerce,60.00,Comm&Mgmt,True,1,62.00,Mkt&HR,60.85,26000.0,True,2020-07-06,2020-10-17,3.0
11,17275,USS Sanchez\nFPO AA 16841,M,69.60,68.40,Commerce,78.30,Comm&Mgmt,True,1,60.00,Mkt&Fin,63.70,25000.0,True,2020-07-03,2020-10-03,3.0
12,17276,"21119 Bailey Mall Apt. 215\nCameronbury, GA 31205",F,47.00,55.00,Science,65.00,Comm&Mgmt,False,0,62.00,Mkt&HR,65.04,NaN,False,NaT,NaT,NaN
13,17277,USNS Ellis\nFPO AP 62042,F,77.00,87.00,Commerce,59.00,Comm&Mgmt,False,0,68.00,Mkt&Fin,68.63,21800.0,True,2020-01-27,2020-05-06,3.0
14,17278,"4210 Baker Stravenue\nNorth Christopher, WI 90462",M,62.00,47.00,Commerce,50.00,Comm&Mgmt,False,0,76.00,Mkt&HR,54.96,NaN,False,NaT,NaT,NaN
15,17279,"PSC 1354, Box 1414\nAPO AA 25325",F,65.00,75.00,Commerce,69.00,Comm&Mgmt,True,1,72.00,Mkt&Fin,64.66,20000.0,True,2020-07-25,2020-11-05,3.0
16,17280,"081 Carrie Square Apt. 439\nJohnsontown, NM 66991",M,63.00,66.20,Commerce,65.60,Comm&Mgmt,True,1,60.00,Mkt&Fin,62.54,30000.0,True,2020-01-29,2020-08-09,6.0
17,17281,"36924 Jamie Cliffs\nPhillipmouth, TX 21393",F,55.00,67.00,Commerce,64.00,Comm&Mgmt,False,0,60.00,Mkt&Fin,67.28,NaN,False,NaT,NaT,NaN
18,17282,"8065 Williams Lodge\nRichardfurt, MT 35336",F,63.00,66.00,Commerce,64.00,Comm&Mgmt,False,0,68.00,Mkt&HR,64.08,NaN,False,NaT,NaT,NaN
19,17283,"87765 William Mews Suite 474\nMichaelhaven, IL...",M,60.00,67.00,Arts,70.00,Comm&Mgmt,True,1,50.48,Mkt&Fin,77.89,23600.0,True,2020-01-24,2021-01-08,12.0

In [8]:
model = TVAE(primary_key='student_id',anonymize_fields={'address': 'address' })
model.fit(data_pii)
new_data_pii = model.sample(200)
new_data_pii.head(20)

/usr/local/lib/python3.7/dist-packages/sklearn/mixture/_base.py:282: ConvergenceWarning: Initialization 1 did not converge. Try different init parameters, or increase max_iter, tol or check for degenerate data.
  ConvergenceWarning,
/usr/local/lib/python3.7/dist-packages/sklearn/mixture/_base.py:282: ConvergenceWarning: Initialization 1 did not converge. Try different init parameters, or increase max_iter, tol or check for degenerate data.
  ConvergenceWarning,
/usr/local/lib/python3.7/dist-packages/sklearn/mixture/_base.py:282: ConvergenceWarning: Initialization 1 did not converge. Try different init parameters, or increase max_iter, tol or check for degenerate data.
  ConvergenceWarning,
/usr/local/lib/python3.7/dist-packages/sklearn/mixture/_base.py:146: ConvergenceWarning: Number of distinct clusters (4) found smaller than n_clusters (10). Possibly due to duplicate points in X.
  .fit(X)
/usr/local/lib/python3.7/dist-packages/sklearn/mixture/_base.py:282: ConvergenceWarning: Initialization 1 did not converge. Try different init parameters, or increase max_iter, tol or check for degenerate data.
  ConvergenceWarning,
/usr/local/lib/python3.7/dist-packages/sklearn/mixture/_base.py:146: ConvergenceWarning: Number of distinct clusters (4) found smaller than n_clusters (10). Possibly due to duplicate points in X.
  .fit(X)
/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:3678: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead.  To get a de-fragmented frame, use `newframe = frame.copy()`
  self[col] = igetitem(value, i)
/usr/local/lib/python3.7/dist-packages/ctgan/data_transformer.py:111: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data[column_name] = data[column_name].to_numpy().flatten()
/usr/local/lib/python3.7/dist-packages/ctgan/data_transformer.py:111: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data[column_name] = data[column_name].to_numpy().flatten()
/usr/local/lib/python3.7/dist-packages/ctgan/data_transformer.py:111: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data[column_name] = data[column_name].to_numpy().flatten()
/usr/local/lib/python3.7/dist-packages/ctgan/data_transformer.py:111: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data[column_name] = data[column_name].to_numpy().flatten()
/usr/local/lib/python3.7/dist-packages/ctgan/data_transformer.py:111: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data[column_name] = data[column_name].to_numpy().flatten()
/usr/local/lib/python3.7/dist-packages/ctgan/data_transformer.py:111: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data[column_name] = data[column_name].to_numpy().flatten()
/usr/local/lib/python3.7/dist-packages/ctgan/data_transformer.py:111: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data[column_name] = data[column_name].to_numpy().flatten()
/usr/local/lib/python3.7/dist-packages/ctgan/data_transformer.py:111: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data[column_name] = data[column_name].to_numpy().flatten()
/usr/local/lib/python3.7/dist-packages/ctgan/data_transformer.py:111: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data[column_name] = data[column_name].to_numpy().flatten()
/usr/local/lib/python3.7/dist-packages/ctgan/data_transformer.py:111: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data[column_name] = data[column_name].to_numpy().flatten()

,student_id,address,gender,second_perc,high_perc,high_spec,degree_perc,degree_type,work_experience,experience_years,employability_perc,mba_spec,mba_perc,salary,placed,start_date,end_date,duration
0,0,"29064 Anthony Mountain\nSouth Stacey, WA 29783",M,62.75,82.80,Commerce,60.96,Comm&Mgmt,True,0,77.43,Mkt&Fin,68.08,26400.0,True,2020-01-14,2020-05-12,3.0
1,1,319 Marilyn Freeway Apt. 918\nNew Benjaminhave...,M,69.59,79.87,Commerce,75.24,Comm&Mgmt,False,0,83.29,Mkt&Fin,53.62,20900.0,True,2020-01-12,2020-04-24,3.0
2,2,"99722 Jasmine Walks Apt. 026\nPort April, NM 7...",M,61.53,49.76,Science,57.11,Comm&Mgmt,False,0,67.73,Mkt&HR,54.79,NaN,False,NaT,NaT,NaN
3,3,"59645 Rogers Trail Apt. 827\nNorth Mariah, WV ...",M,61.54,72.34,Commerce,72.00,Comm&Mgmt,False,0,65.18,Mkt&Fin,60.93,27100.0,True,2020-07-21,2020-10-22,3.0
4,4,"89836 Hanson Shoal Suite 939\nAprilburgh, FL 0...",M,52.14,62.95,Commerce,54.30,Comm&Mgmt,False,0,60.62,Mkt&Fin,54.94,NaN,False,NaT,NaT,NaN
5,5,"56354 Gordon Lights\nWallview, SD 74342",F,51.27,41.99,Commerce,58.14,Comm&Mgmt,False,0,58.08,Mkt&HR,55.26,NaN,False,NaT,NaT,NaN
6,6,"3749 Tommy Estates Apt. 010\nKevinshire, AZ 63315",M,54.09,60.10,Science,68.85,Comm&Mgmt,False,0,61.14,Mkt&Fin,57.20,NaN,False,NaT,NaT,NaN
7,7,"732 Calvin Knolls Suite 974\nScottfurt, NV 86259",M,67.34,75.11,Commerce,69.15,Comm&Mgmt,False,0,73.98,Mkt&Fin,55.81,25100.0,True,2020-01-19,2020-04-21,3.0
8,8,"5501 Lewis Estate Apt. 855\nWilliamborough, UT...",M,66.14,52.71,Commerce,65.92,Comm&Mgmt,False,0,61.50,Mkt&Fin,57.98,30700.0,True,2020-01-15,2020-07-22,6.0
9,9,5171 Fernandez Glens Suite 083\nLake Davidfort...,F,43.08,49.71,Commerce,63.01,Comm&Mgmt,False,0,76.38,Mkt&HR,59.12,NaN,False,NaT,NaT,NaN
10,10,"448 Ramirez Creek Suite 864\nEast Laurenville,...",M,60.41,88.33,Commerce,67.29,Comm&Mgmt,False,0,51.80,Mkt&Fin,56.30,28500.0,True,2020-01-10,2020-08-08,6.0
11,11,"5466 Burgess Mountains\nSouth Patriciafort, WY...",M,65.66,67.16,Science,63.54,Comm&Mgmt,False,0,88.15,Mkt&Fin,64.35,29000.0,True,2020-07-22,2020-10-07,3.0
12,12,"669 Herring Place\nWest Monica, MO 83084",M,59.17,70.83,Commerce,63.11,Comm&Mgmt,True,0,68.85,Mkt&Fin,61.19,23900.0,True,2020-01-16,2021-01-12,12.0
13,13,34143 Patricia Squares Apt. 989\nGutierrezside...,M,69.27,79.54,Commerce,57.73,Comm&Mgmt,False,0,98.00,Mkt&Fin,65.39,28800.0,True,2020-01-23,2021-01-25,3.0
14,14,"326 Devin Underpass\nMichaelland, MD 59662",M,55.20,73.33,Commerce,69.51,Comm&Mgmt,False,0,68.46,Mkt&Fin,51.21,29000.0,True,2020-01-10,2020-08-01,6.0
15,15,89681 Wheeler Trail Suite 772\nEast Davidmouth...,F,59.93,65.07,Commerce,65.72,Comm&Mgmt,True,1,78.89,Mkt&Fin,72.53,23300.0,True,2020-01-05,2020-07-25,6.0
16,16,"7867 Natalie Vista Apt. 815\nRichardsstad, MI ...",M,63.13,74.89,Science,75.06,Comm&Mgmt,False,0,93.60,Mkt&Fin,69.71,27500.0,True,2020-07-14,2020-10-15,3.0
17,17,"32076 Dillon Haven Suite 154\nPort Jennifer, U...",F,66.84,65.38,Science,77.92,Comm&Mgmt,True,1,81.88,Mkt&Fin,65.62,24200.0,True,2020-01-23,2020-07-21,6.0
18,18,"0359 Carlson Cape Suite 230\nMichaelstad, FL 3...",M,60.22,60.66,Commerce,65.16,Comm&Mgmt,False,0,64.07,Mkt&HR,60.00,20000.0,True,2020-01-09,2020-05-02,3.0
19,19,"6798 Cook Common Apt. 979\nSmithton, MS 55368",M,56.25,77.56,Science,71.72,Comm&Mgmt,False,0,77.21,Mkt&Fin,70.72,24300.0,True,2020-01-19,2020-03-22,3.0

In [9]:
#load the dataset, in our case we can use the built-in demo dataset
from sdv.metrics.demos import load_single_table_demo
real_data, synthetic_data, metadata = load_single_table_demo()

the metadata is the dictionary representation of the student_placements metadata will look somewhat like this

In [10]:
{'fields': {'start_date': {'type': 'datetime', 'format': '%Y-%m-%d'},
  'end_date': {'type': 'datetime', 'format': '%Y-%m-%d'},
  'salary': {'type': 'numerical', 'subtype': 'integer'},
  'duration': {'type': 'categorical'},
  'student_id': {'type': 'id', 'subtype': 'integer'},
  'high_perc': {'type': 'numerical', 'subtype': 'float'},
  'high_spec': {'type': 'categorical'},
  'mba_spec': {'type': 'categorical'},
  'second_perc': {'type': 'numerical', 'subtype': 'float'},
  'gender': {'type': 'categorical'},
  'degree_perc': {'type': 'numerical', 'subtype': 'float'},
  'placed': {'type': 'boolean'},
  'experience_years': {'type': 'numerical', 'subtype': 'float'},
  'employability_perc': {'type': 'numerical', 'subtype': 'float'},
  'mba_perc': {'type': 'numerical', 'subtype': 'float'},
  'work_experience': {'type': 'boolean'},
  'degree_type': {'type': 'categorical'}},
 'constraints': [],
 'model_kwargs': {},
 'name': None,
 'primary_key': 'student_id',
 'sequence_index': None,
 'entity_columns': [],
 'context_columns': []}

{'constraints': [],
 'context_columns': [],
 'entity_columns': [],
 'fields': {'degree_perc': {'subtype': 'float', 'type': 'numerical'},
  'degree_type': {'type': 'categorical'},
  'duration': {'type': 'categorical'},
  'employability_perc': {'subtype': 'float', 'type': 'numerical'},
  'end_date': {'format': '%Y-%m-%d', 'type': 'datetime'},
  'experience_years': {'subtype': 'float', 'type': 'numerical'},
  'gender': {'type': 'categorical'},
  'high_perc': {'subtype': 'float', 'type': 'numerical'},
  'high_spec': {'type': 'categorical'},
  'mba_perc': {'subtype': 'float', 'type': 'numerical'},
  'mba_spec': {'type': 'categorical'},
  'placed': {'type': 'boolean'},
  'salary': {'subtype': 'integer', 'type': 'numerical'},
  'second_perc': {'subtype': 'float', 'type': 'numerical'},
  'start_date': {'format': '%Y-%m-%d', 'type': 'datetime'},
  'student_id': {'subtype': 'integer', 'type': 'id'},
  'work_experience': {'type': 'boolean'}},
 'model_kwargs': {},
 'name': None,
 'primary_key': 'student_id',
 'sequence_index': None}

Now further this evaluation is divided into a few different ways to evaluate.

Statistical Metrics: compares the table by running a different statistical test

In [11]:
from sdv.metrics.tabular import CSTest, KSTest
#KSTest: This metric uses the two-sample Kolmogorov–Smirnov test to #compare the distributions of continuous columns using the empirical #CDF
'''The output for each column is 1 minus the KS Test D statistic, which indicates the maximum distance between the expected CDF and the observed CDF values.'''
KSTest.compute(real_data, synthetic_data)
#CSTest: uses Chi-Squared test to compare the distributions of two #discrete columns, the output will be in p-value which is the probability of two columns having been sampled from the 
#sample distribution.
CSTest.compute(real_data, synthetic_data)

/usr/local/lib/python3.7/dist-packages/sdmetrics/utils.py:62: UserWarning: Unexpected value nan in synthetic data.
  warnings.warn(f'Unexpected value {value} in synthetic data.')

0.8078084931103922

we can do KSTest and CSTest it in one shot using evaluate

In [12]:
from sdv.evaluation import evaluate
evaluate(synthetic_data, real_data, metrics=['CSTest', 'KSTest'], aggregate=False)

/usr/local/lib/python3.7/dist-packages/sdmetrics/utils.py:62: UserWarning: Unexpected value nan in synthetic data.
  warnings.warn(f'Unexpected value {value} in synthetic data.')

,metric,name,raw_score,normalized_score,min_value,max_value,goal,error
0,CSTest,Chi-Squared,0.807808,0.807808,0.0,1.0,MAXIMIZE,None
1,KSTest,Inverted Kolmogorov-Smirnov D statistic,0.637209,0.637209,0.0,1.0,MAXIMIZE,None

2. Likelihood Metrics

In [15]:
#pip install pomegranate to run the below packages
from sdv.metrics.tabular import BNLikelihood, BNLogLikelihood, GMLogLikelihood 
#this metric fits a BayesiaNetwork to the real data and then #evaluates the average likelihood of the rows from the synthetic #data on it.
BNLikelihood.compute(real_data.fillna(0), synthetic_data.fillna(0))
 
#the same as above but here we taking log into consideration, so it #will be the average log likelihood
raw_score1 = BNLogLikelihood.compute(real_data.fillna(0), synthetic_data.fillna(0))
 
#This metric will use GaussianMixture addition to average log #likelihood
raw_score2 = GMLogLikelihood.compute(real_data.fillna(0), synthetic_data.fillna(0))
#we can normalize our results between 0 and 1 by simply using the #normalize method instead of using the likelihood scores 
BNLogLikelihood.normalize(raw_score1)

/usr/local/lib/python3.7/dist-packages/sklearn/mixture/_base.py:282: ConvergenceWarning: Initialization 1 did not converge. Try different init parameters, or increase max_iter, tol or check for degenerate data.
  ConvergenceWarning,

4.467234949793966e-07

In [14]:
!pip install pomegranate
!pip install dependencies

Collecting pomegranate
  Downloading pomegranate-0.14.8.tar.gz (4.3 MB)
     |████████████████████████████████| 4.3 MB 5.1 MB/s
  Installing build dependencies ... done
  Getting requirements to build wheel ... done
    Preparing wheel metadata ... done
Requirement already satisfied: networkx>=2.4 in /usr/local/lib/python3.7/dist-packages (from pomegranate) (2.6.3)
Requirement already satisfied: pyyaml in /usr/local/lib/python3.7/dist-packages (from pomegranate) (5.4.1)
Requirement already satisfied: numpy>=1.20.0 in /usr/local/lib/python3.7/dist-packages (from pomegranate) (1.21.6)
Requirement already satisfied: joblib>=0.9.0b4 in /usr/local/lib/python3.7/dist-packages (from pomegranate) (1.1.0)
Requirement already satisfied: scipy>=0.17.0 in /usr/local/lib/python3.7/dist-packages (from pomegranate) (1.7.3)
Building wheels for collected packages: pomegranate
  Building wheel for pomegranate (PEP 517) ... done
  Created wheel for pomegranate: filename=pomegranate-0.14.8-cp37-cp37m-linux_x86_64.whl size=15068339 sha256=faab393cfbc517bffd00a2d94b4ebe6b27302d903389b33d9d034cdabc714ae1
  Stored in directory: /root/.cache/pip/wheels/24/68/69/0eaab474ef1d65abedcd47de8a38ab21d221d329954d7edd24
Successfully built pomegranate
Installing collected packages: pomegranate
Successfully installed pomegranate-0.14.8
Collecting dependencies
  Downloading dependencies-7.1.7-py3-none-any.whl (15 kB)
Installing collected packages: dependencies
Successfully installed dependencies-7.1.7

3. Detection Metrics: tries to distinguish how hard it is the synthetic data from the real data using the machine-learning model.
The output will be in 1 minus the average ROC AUC score across all the cross-validation splits

In [16]:
from sdv.metrics.tabular import LogisticDetection, SVCDetection
LogisticDetection.compute(real_data, synthetic_data)
SVCDetection.compute(real_data, synthetic_data)

0.0009128847157016118

4. Machine Learning Efficacy Metrics: These metrics will evaluate whether it is possible to replace the real data with synthetic data in order to solve a Machine Learning Problem by learning a Machine Learning model on the synthetic data and then evaluating the score which it obtains when evaluated on the real data.

In [17]:
from sdv.metrics.tabular import MulticlassDecisionTreeClassifier
MulticlassDecisionTreeClassifier.compute(real_data, synthetic_data, target='mba_spec')

0.543939393939394

The output value does not only depend on how good our synthetic data is, but also on how hard the machine learning problem that we are trying to solve is. For instance, we may also compare each model's results with real data and synthetic data.

5. Privacy Metrics: These metrics measure the privacy of the synthetic dataset identical to the real data. The models accomplish this by fitting an adversarial attacker model on the synthetic data to predict sensitive attributes from “key” attributes and then evaluating its accuracy on the real data.

In [18]:
#the metrics do not accept missing values, so we will replace or #drop for this example
real_data = real_data.fillna(0, inplace=True)
real_data.isnull().sum()
from sdv.metrics.tabular import NumericalLR
NumericalLR.compute(real_data,synthetic_data,key_fields=
['second_perc', 'mba_perc', 'degree_perc'],
sensitive_fields=['salary'])

AttributeError: ignored

In [21]:
#the metrics do not accept missing values, so we will replace or #drop for this example
real_data = real_data.fillna(0, inplace=True)
real_data.isna().sum()
from sdv.metrics.tabular import NumericalLR
NumericalLR.compute(real_data,synthetic_data,key_fields=['second_perc', 'mba_perc', 'degree_perc'],
                    sensitive_fields=['salary'])

AttributeError: ignored