<a href="https://colab.research.google.com/github/shaon11579/2022-spring-NLP-/blob/main/Synthetic%20data%20generation%20.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [16]:
#first we need to install the package
!pip install sdv
#load a sample dataset
from sdv.demo import load_tabular_demo
data = load_tabular_demo('student_placements')
data.head(20)

Requirement already satisfied: sdv in /usr/local/lib/python3.7/dist-packages (0.14.1)
Requirement already satisfied: pandas<2,>=1.1.3 in /usr/local/lib/python3.7/dist-packages (from sdv) (1.3.5)
Requirement already satisfied: tqdm<5,>=4.15 in /usr/local/lib/python3.7/dist-packages (from sdv) (4.64.0)
Requirement already satisfied: numpy<2,>=1.20.0 in /usr/local/lib/python3.7/dist-packages (from sdv) (1.21.6)
Requirement already satisfied: sdmetrics<0.5,>=0.4.1 in /usr/local/lib/python3.7/dist-packages (from sdv) (0.4.1)
Requirement already satisfied: Faker<10,>=3.0.0 in /usr/local/lib/python3.7/dist-packages (from sdv) (9.9.1)
Requirement already satisfied: deepecho<0.4,>=0.3.0.post1 in /usr/local/lib/python3.7/dist-packages (from sdv) (0.3.0.post1)
Requirement already satisfied: copulas<0.7,>=0.6.1 in /usr/local/lib/python3.7/dist-packages (from sdv) (0.6.1)
Requirement already satisfied: ctgan<0.6,>=0.5.1 in /usr/local/lib/python3.7/dist-packages (from sdv) (0.5.1)
Requirement already satisfied: rdt<0.7,>=0.6.2 in /usr/local/lib/python3.7/dist-packages (from sdv) (0.6.4)
Requirement already satisfied: graphviz<1,>=0.13.2 in /usr/local/lib/python3.7/dist-packages (from sdv) (0.20)
Requirement already satisfied: matplotlib<4,>=3.4.0 in /usr/local/lib/python3.7/dist-packages (from copulas<0.7,>=0.6.1->sdv) (3.5.2)
Requirement already satisfied: scipy<2,>=1.5.4 in /usr/local/lib/python3.7/dist-packages (from copulas<0.7,>=0.6.1->sdv) (1.7.3)
Requirement already satisfied: scikit-learn<2,>=0.24 in /usr/local/lib/python3.7/dist-packages (from ctgan<0.6,>=0.5.1->sdv) (1.0.2)
Requirement already satisfied: packaging<22,>=20 in /usr/local/lib/python3.7/dist-packages (from ctgan<0.6,>=0.5.1->sdv) (21.3)
Requirement already satisfied: torch<2,>=1.8.0 in /usr/local/lib/python3.7/dist-packages (from ctgan<0.6,>=0.5.1->sdv) (1.11.0+cu113)
Requirement already satisfied: torchvision<1,>=0.9.0 in /usr/local/lib/python3.7/dist-packages (from ctgan<0.6,>=0.5.1->sdv) (0.12.0+cu113)
Requirement already satisfied: text-unidecode==1.3 in /usr/local/lib/python3.7/dist-packages (from Faker<10,>=3.0.0->sdv) (1.3)
Requirement already satisfied: typing-extensions>=3.10.0.2 in /usr/local/lib/python3.7/dist-packages (from Faker<10,>=3.0.0->sdv) (4.2.0)
Requirement already satisfied: python-dateutil>=2.4 in /usr/local/lib/python3.7/dist-packages (from Faker<10,>=3.0.0->sdv) (2.8.2)
Requirement already satisfied: cycler>=0.10 in /usr/local/lib/python3.7/dist-packages (from matplotlib<4,>=3.4.0->copulas<0.7,>=0.6.1->sdv) (0.11.0)
Requirement already satisfied: pyparsing>=2.2.1 in /usr/local/lib/python3.7/dist-packages (from matplotlib<4,>=3.4.0->copulas<0.7,>=0.6.1->sdv) (3.0.8)
Requirement already satisfied: kiwisolver>=1.0.1 in /usr/local/lib/python3.7/dist-packages (from matplotlib<4,>=3.4.0->copulas<0.7,>=0.6.1->sdv) (1.4.2)
Requirement already satisfied: fonttools>=4.22.0 in /usr/local/lib/python3.7/dist-packages (from matplotlib<4,>=3.4.0->copulas<0.7,>=0.6.1->sdv) (4.33.3)
Requirement already satisfied: pillow>=6.2.0 in /usr/local/lib/python3.7/dist-packages (from matplotlib<4,>=3.4.0->copulas<0.7,>=0.6.1->sdv) (7.1.2)
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.7/dist-packages (from pandas<2,>=1.1.3->sdv) (2022.1)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.4->Faker<10,>=3.0.0->sdv) (1.15.0)
Requirement already satisfied: pyyaml<6,>=5.4.1 in /usr/local/lib/python3.7/dist-packages (from rdt<0.7,>=0.6.2->sdv) (5.4.1)
Requirement already satisfied: psutil<6,>=5.7 in /usr/local/lib/python3.7/dist-packages (from rdt<0.7,>=0.6.2->sdv) (5.9.0)
Requirement already satisfied: threadpoolctl>=2.0.0 in /usr/local/lib/python3.7/dist-packages (from scikit-learn<2,>=0.24->ctgan<0.6,>=0.5.1->sdv) (3.1.0)
Requirement already satisfied: joblib>=0.11 in /usr/local/lib/python3.7/dist-packages (from scikit-learn<2,>=0.24->ctgan<0.6,>=0.5.1->sdv) (1.1.0)
Requirement already satisfied: pyts<0.13.0,>=0.12.0 in /usr/local/lib/python3.7/dist-packages (from sdmetrics<0.5,>=0.4.1->sdv) (0.12.0)
Requirement already satisfied: numba>=0.48.0 in /usr/local/lib/python3.7/dist-packages (from pyts<0.13.0,>=0.12.0->sdmetrics<0.5,>=0.4.1->sdv) (0.51.2)
Requirement already satisfied: setuptools in /usr/local/lib/python3.7/dist-packages (from numba>=0.48.0->pyts<0.13.0,>=0.12.0->sdmetrics<0.5,>=0.4.1->sdv) (57.4.0)
Requirement already satisfied: llvmlite<0.35,>=0.34.0.dev0 in /usr/local/lib/python3.7/dist-packages (from numba>=0.48.0->pyts<0.13.0,>=0.12.0->sdmetrics<0.5,>=0.4.1->sdv) (0.34.0)
Requirement already satisfied: requests in /usr/local/lib/python3.7/dist-packages (from torchvision<1,>=0.9.0->ctgan<0.6,>=0.5.1->sdv) (2.23.0)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from requests->torchvision<1,>=0.9.0->ctgan<0.6,>=0.5.1->sdv) (3.0.4)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests->torchvision<1,>=0.9.0->ctgan<0.6,>=0.5.1->sdv) (1.24.3)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests->torchvision<1,>=0.9.0->ctgan<0.6,>=0.5.1->sdv) (2021.10.8)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests->torchvision<1,>=0.9.0->ctgan<0.6,>=0.5.1->sdv) (2.10)

,student_id,gender,second_perc,high_perc,high_spec,degree_perc,degree_type,work_experience,experience_years,employability_perc,mba_spec,mba_perc,salary,placed,start_date,end_date,duration
0,17264,M,67.00,91.00,Commerce,58.00,Sci&Tech,False,0,55.00,Mkt&HR,58.80,27000.0,True,2020-07-23,2020-10-12,3.0
1,17265,M,79.33,78.33,Science,77.48,Sci&Tech,True,1,86.50,Mkt&Fin,66.28,20000.0,True,2020-01-11,2020-04-09,3.0
2,17266,M,65.00,68.00,Arts,64.00,Comm&Mgmt,False,0,75.00,Mkt&Fin,57.80,25000.0,True,2020-01-26,2020-07-13,6.0
3,17267,M,56.00,52.00,Science,52.00,Sci&Tech,False,0,66.00,Mkt&HR,59.43,NaN,False,NaT,NaT,NaN
4,17268,M,85.80,73.60,Commerce,73.30,Comm&Mgmt,False,0,96.80,Mkt&Fin,55.50,42500.0,True,2020-07-04,2020-09-27,3.0
5,17269,M,55.00,49.80,Science,67.25,Sci&Tech,True,1,55.00,Mkt&Fin,51.58,NaN,False,NaT,NaT,NaN
6,17270,F,46.00,49.20,Commerce,79.00,Comm&Mgmt,False,0,74.28,Mkt&Fin,53.29,NaN,False,NaT,NaT,NaN
7,17271,M,82.00,64.00,Science,66.00,Sci&Tech,True,1,67.00,Mkt&Fin,62.14,25200.0,True,2020-01-26,2020-05-01,3.0
8,17272,M,73.00,79.00,Commerce,72.00,Comm&Mgmt,False,0,91.34,Mkt&Fin,61.29,23100.0,True,2020-01-26,2020-08-07,6.0
9,17273,M,58.00,70.00,Commerce,61.00,Comm&Mgmt,False,0,54.00,Mkt&Fin,52.21,NaN,False,NaT,NaT,NaN
10,17274,M,58.00,61.00,Commerce,60.00,Comm&Mgmt,True,1,62.00,Mkt&HR,60.85,26000.0,True,2020-07-06,2020-10-17,3.0
11,17275,M,69.60,68.40,Commerce,78.30,Comm&Mgmt,True,1,60.00,Mkt&Fin,63.70,25000.0,True,2020-07-03,2020-10-03,3.0
12,17276,F,47.00,55.00,Science,65.00,Comm&Mgmt,False,0,62.00,Mkt&HR,65.04,NaN,False,NaT,NaT,NaN
13,17277,F,77.00,87.00,Commerce,59.00,Comm&Mgmt,False,0,68.00,Mkt&Fin,68.63,21800.0,True,2020-01-27,2020-05-06,3.0
14,17278,M,62.00,47.00,Commerce,50.00,Comm&Mgmt,False,0,76.00,Mkt&HR,54.96,NaN,False,NaT,NaT,NaN
15,17279,F,65.00,75.00,Commerce,69.00,Comm&Mgmt,True,1,72.00,Mkt&Fin,64.66,20000.0,True,2020-07-25,2020-11-05,3.0
16,17280,M,63.00,66.20,Commerce,65.60,Comm&Mgmt,True,1,60.00,Mkt&Fin,62.54,30000.0,True,2020-01-29,2020-08-09,6.0
17,17281,F,55.00,67.00,Commerce,64.00,Comm&Mgmt,False,0,60.00,Mkt&Fin,67.28,NaN,False,NaT,NaT,NaN
18,17282,F,63.00,66.00,Commerce,64.00,Comm&Mgmt,False,0,68.00,Mkt&HR,64.08,NaN,False,NaT,NaT,NaN
19,17283,M,60.00,67.00,Arts,70.00,Comm&Mgmt,True,1,50.48,Mkt&Fin,77.89,23600.0,True,2020-01-24,2021-01-08,12.0

In [14]:
from sdv.tabular import TVAE
model = TVAE()
model.fit(data)

/usr/local/lib/python3.7/dist-packages/sklearn/mixture/_base.py:282: ConvergenceWarning: Initialization 1 did not converge. Try different init parameters, or increase max_iter, tol or check for degenerate data.
  ConvergenceWarning,
/usr/local/lib/python3.7/dist-packages/sklearn/mixture/_base.py:282: ConvergenceWarning: Initialization 1 did not converge. Try different init parameters, or increase max_iter, tol or check for degenerate data.
  ConvergenceWarning,
/usr/local/lib/python3.7/dist-packages/sklearn/mixture/_base.py:282: ConvergenceWarning: Initialization 1 did not converge. Try different init parameters, or increase max_iter, tol or check for degenerate data.
  ConvergenceWarning,
/usr/local/lib/python3.7/dist-packages/sklearn/mixture/_base.py:282: ConvergenceWarning: Initialization 1 did not converge. Try different init parameters, or increase max_iter, tol or check for degenerate data.
  ConvergenceWarning,
/usr/local/lib/python3.7/dist-packages/sklearn/mixture/_base.py:146: ConvergenceWarning: Number of distinct clusters (4) found smaller than n_clusters (10). Possibly due to duplicate points in X.
  .fit(X)
/usr/local/lib/python3.7/dist-packages/sklearn/mixture/_base.py:282: ConvergenceWarning: Initialization 1 did not converge. Try different init parameters, or increase max_iter, tol or check for degenerate data.
  ConvergenceWarning,
/usr/local/lib/python3.7/dist-packages/sklearn/mixture/_base.py:146: ConvergenceWarning: Number of distinct clusters (4) found smaller than n_clusters (10). Possibly due to duplicate points in X.
  .fit(X)
/usr/local/lib/python3.7/dist-packages/ctgan/data_transformer.py:111: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data[column_name] = data[column_name].to_numpy().flatten()
/usr/local/lib/python3.7/dist-packages/ctgan/data_transformer.py:111: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data[column_name] = data[column_name].to_numpy().flatten()
/usr/local/lib/python3.7/dist-packages/ctgan/data_transformer.py:111: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data[column_name] = data[column_name].to_numpy().flatten()
/usr/local/lib/python3.7/dist-packages/ctgan/data_transformer.py:111: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data[column_name] = data[column_name].to_numpy().flatten()
/usr/local/lib/python3.7/dist-packages/ctgan/data_transformer.py:111: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data[column_name] = data[column_name].to_numpy().flatten()
/usr/local/lib/python3.7/dist-packages/ctgan/data_transformer.py:111: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data[column_name] = data[column_name].to_numpy().flatten()
/usr/local/lib/python3.7/dist-packages/ctgan/data_transformer.py:111: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data[column_name] = data[column_name].to_numpy().flatten()
/usr/local/lib/python3.7/dist-packages/ctgan/data_transformer.py:111: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data[column_name] = data[column_name].to_numpy().flatten()
/usr/local/lib/python3.7/dist-packages/ctgan/data_transformer.py:111: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data[column_name] = data[column_name].to_numpy().flatten()
/usr/local/lib/python3.7/dist-packages/ctgan/data_transformer.py:111: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data[column_name] = data[column_name].to_numpy().flatten()
/usr/local/lib/python3.7/dist-packages/ctgan/data_transformer.py:111: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data[column_name] = data[column_name].to_numpy().flatten()

In [17]:
new_data = model.sample(200)
new_data.head(20)

,student_id,gender,second_perc,high_perc,high_spec,degree_perc,degree_type,work_experience,experience_years,employability_perc,mba_spec,mba_perc,salary,placed,start_date,end_date,duration
0,17428,M,73.45,70.74,Science,59.49,Sci&Tech,False,0,65.68,Mkt&HR,56.98,27100.0,True,2020-07-20,2020-10-06,3.0
1,17407,M,69.49,69.15,Commerce,61.49,Comm&Mgmt,True,0,88.40,Mkt&Fin,61.83,24000.0,True,2020-01-22,2020-11-27,3.0
2,17396,M,63.77,62.47,Commerce,64.09,Comm&Mgmt,False,0,65.82,Mkt&HR,61.66,NaN,False,NaT,NaT,NaN
3,17433,M,55.79,64.74,Science,66.75,Comm&Mgmt,True,1,58.80,Mkt&Fin,60.46,20300.0,True,2020-01-22,2020-08-01,6.0
4,17445,F,68.92,71.88,Science,70.24,Sci&Tech,True,1,86.91,Mkt&Fin,70.70,25200.0,True,2020-01-12,2021-01-18,3.0
5,17423,M,63.21,66.85,Science,50.89,Comm&Mgmt,False,0,64.08,Mkt&HR,54.96,NaN,False,NaT,NaT,NaN
6,17447,M,62.26,59.28,Science,59.02,Comm&Mgmt,False,0,57.27,Mkt&HR,55.52,NaN,False,NaT,NaT,NaN
7,17299,M,51.32,76.50,Commerce,67.34,Comm&Mgmt,False,0,50.21,Mkt&Fin,59.01,23000.0,True,2020-01-17,2020-12-25,3.0
8,17325,M,78.44,76.35,Commerce,59.86,Comm&Mgmt,False,0,87.72,Mkt&Fin,67.07,25100.0,True,2020-01-19,2020-04-12,3.0
9,17347,F,52.16,84.61,Commerce,68.97,Comm&Mgmt,False,0,90.89,Mkt&Fin,71.42,NaN,False,NaT,NaT,NaN
10,17317,M,68.78,82.06,Commerce,64.86,Comm&Mgmt,False,0,82.90,Mkt&Fin,74.58,29000.0,True,2020-01-21,2020-12-24,3.0
11,17456,M,60.15,69.19,Commerce,65.40,Comm&Mgmt,False,0,62.43,Mkt&HR,56.98,24400.0,True,2020-01-11,2020-12-01,3.0
12,17290,M,62.26,72.23,Commerce,68.05,Comm&Mgmt,False,0,82.20,Mkt&Fin,68.68,27700.0,False,2020-02-29,NaT,5.0
13,17293,M,52.60,69.49,Commerce,62.49,Comm&Mgmt,False,0,52.06,Mkt&Fin,58.29,NaN,False,NaT,NaT,NaN
14,17309,F,63.25,56.27,Commerce,66.18,Comm&Mgmt,False,0,98.00,Mkt&Fin,70.64,NaN,False,NaT,NaT,NaN
15,17447,M,46.10,73.12,Commerce,58.73,Comm&Mgmt,False,0,60.70,Mkt&HR,51.21,21600.0,True,2020-01-26,2020-08-13,3.0
16,17404,M,70.59,65.69,Science,67.68,Sci&Tech,True,1,57.12,Mkt&HR,58.61,20800.0,True,2020-01-18,2021-01-05,12.0
17,17422,F,67.87,76.15,Commerce,65.03,Comm&Mgmt,False,0,65.18,Mkt&Fin,68.34,NaN,False,NaT,NaT,NaN
18,17292,M,69.00,70.81,Commerce,56.94,Comm&Mgmt,False,0,84.35,Mkt&Fin,57.93,28600.0,True,2020-01-24,2020-07-21,6.0
19,17447,M,46.35,73.48,Commerce,62.99,Comm&Mgmt,False,0,61.06,Mkt&Fin,59.26,28300.0,True,2020-01-21,2020-08-21,6.0

In [6]:
#save the model
model.save('/bin.pkl')

In [7]:
#load the model
loaded = TVAE.load('/bin.pkl')
new_data = loaded.sample(200)

In [8]:
model = TVAE(primary_key='student_id')
model.fit(data)
new_data = model.sample(200)

/usr/local/lib/python3.7/dist-packages/sklearn/mixture/_base.py:282: ConvergenceWarning: Initialization 1 did not converge. Try different init parameters, or increase max_iter, tol or check for degenerate data.
  ConvergenceWarning,
/usr/local/lib/python3.7/dist-packages/sklearn/mixture/_base.py:282: ConvergenceWarning: Initialization 1 did not converge. Try different init parameters, or increase max_iter, tol or check for degenerate data.
  ConvergenceWarning,
/usr/local/lib/python3.7/dist-packages/sklearn/mixture/_base.py:282: ConvergenceWarning: Initialization 1 did not converge. Try different init parameters, or increase max_iter, tol or check for degenerate data.
  ConvergenceWarning,
/usr/local/lib/python3.7/dist-packages/sklearn/mixture/_base.py:146: ConvergenceWarning: Number of distinct clusters (4) found smaller than n_clusters (10). Possibly due to duplicate points in X.
  .fit(X)
/usr/local/lib/python3.7/dist-packages/sklearn/mixture/_base.py:282: ConvergenceWarning: Initialization 1 did not converge. Try different init parameters, or increase max_iter, tol or check for degenerate data.
  ConvergenceWarning,
/usr/local/lib/python3.7/dist-packages/sklearn/mixture/_base.py:146: ConvergenceWarning: Number of distinct clusters (4) found smaller than n_clusters (10). Possibly due to duplicate points in X.
  .fit(X)
/usr/local/lib/python3.7/dist-packages/ctgan/data_transformer.py:111: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data[column_name] = data[column_name].to_numpy().flatten()
/usr/local/lib/python3.7/dist-packages/ctgan/data_transformer.py:111: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data[column_name] = data[column_name].to_numpy().flatten()
/usr/local/lib/python3.7/dist-packages/ctgan/data_transformer.py:111: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data[column_name] = data[column_name].to_numpy().flatten()
/usr/local/lib/python3.7/dist-packages/ctgan/data_transformer.py:111: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data[column_name] = data[column_name].to_numpy().flatten()
/usr/local/lib/python3.7/dist-packages/ctgan/data_transformer.py:111: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data[column_name] = data[column_name].to_numpy().flatten()
/usr/local/lib/python3.7/dist-packages/ctgan/data_transformer.py:111: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data[column_name] = data[column_name].to_numpy().flatten()
/usr/local/lib/python3.7/dist-packages/ctgan/data_transformer.py:111: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data[column_name] = data[column_name].to_numpy().flatten()
/usr/local/lib/python3.7/dist-packages/ctgan/data_transformer.py:111: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data[column_name] = data[column_name].to_numpy().flatten()
/usr/local/lib/python3.7/dist-packages/ctgan/data_transformer.py:111: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data[column_name] = data[column_name].to_numpy().flatten()
/usr/local/lib/python3.7/dist-packages/ctgan/data_transformer.py:111: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data[column_name] = data[column_name].to_numpy().flatten()

In [18]:
data_pii = load_tabular_demo('student_placements_pii')
data_pii.head(20)

,student_id,address,gender,second_perc,high_perc,high_spec,degree_perc,degree_type,work_experience,experience_years,employability_perc,mba_spec,mba_perc,salary,placed,start_date,end_date,duration
0,17264,"70304 Baker Turnpike\nEricborough, MS 15086",M,67.00,91.00,Commerce,58.00,Sci&Tech,False,0,55.00,Mkt&HR,58.80,27000.0,True,2020-07-23,2020-10-12,3.0
1,17265,"805 Herrera Avenue Apt. 134\nMaryview, NJ 36510",M,79.33,78.33,Science,77.48,Sci&Tech,True,1,86.50,Mkt&Fin,66.28,20000.0,True,2020-01-11,2020-04-09,3.0
2,17266,"3702 Bradley Island\nNorth Victor, FL 12268",M,65.00,68.00,Arts,64.00,Comm&Mgmt,False,0,75.00,Mkt&Fin,57.80,25000.0,True,2020-01-26,2020-07-13,6.0
3,17267,Unit 0879 Box 3878\nDPO AP 42663,M,56.00,52.00,Science,52.00,Sci&Tech,False,0,66.00,Mkt&HR,59.43,NaN,False,NaT,NaT,NaN
4,17268,"96493 Kelly Canyon Apt. 145\nEast Steven, NC 3...",M,85.80,73.60,Commerce,73.30,Comm&Mgmt,False,0,96.80,Mkt&Fin,55.50,42500.0,True,2020-07-04,2020-09-27,3.0
5,17269,Unit 7945 Box 5398\nDPO AA 18917,M,55.00,49.80,Science,67.25,Sci&Tech,True,1,55.00,Mkt&Fin,51.58,NaN,False,NaT,NaT,NaN
6,17270,"943 Martha Wells\nOwensborough, NC 46065",F,46.00,49.20,Commerce,79.00,Comm&Mgmt,False,0,74.28,Mkt&Fin,53.29,NaN,False,NaT,NaT,NaN
7,17271,"195 Kevin Parkways Apt. 828\nToddland, TN 54615",M,82.00,64.00,Science,66.00,Sci&Tech,True,1,67.00,Mkt&Fin,62.14,25200.0,True,2020-01-26,2020-05-01,3.0
8,17272,"PSC 2024, Box 1677\nAPO AP 99732",M,73.00,79.00,Commerce,72.00,Comm&Mgmt,False,0,91.34,Mkt&Fin,61.29,23100.0,True,2020-01-26,2020-08-07,6.0
9,17273,"336 Davis Drives Apt. 411\nNew Reginashire, CT...",M,58.00,70.00,Commerce,61.00,Comm&Mgmt,False,0,54.00,Mkt&Fin,52.21,NaN,False,NaT,NaT,NaN
10,17274,"786 Shane Bridge Suite 165\nNorth Douglas, GA ...",M,58.00,61.00,Commerce,60.00,Comm&Mgmt,True,1,62.00,Mkt&HR,60.85,26000.0,True,2020-07-06,2020-10-17,3.0
11,17275,USS Sanchez\nFPO AA 16841,M,69.60,68.40,Commerce,78.30,Comm&Mgmt,True,1,60.00,Mkt&Fin,63.70,25000.0,True,2020-07-03,2020-10-03,3.0
12,17276,"21119 Bailey Mall Apt. 215\nCameronbury, GA 31205",F,47.00,55.00,Science,65.00,Comm&Mgmt,False,0,62.00,Mkt&HR,65.04,NaN,False,NaT,NaT,NaN
13,17277,USNS Ellis\nFPO AP 62042,F,77.00,87.00,Commerce,59.00,Comm&Mgmt,False,0,68.00,Mkt&Fin,68.63,21800.0,True,2020-01-27,2020-05-06,3.0
14,17278,"4210 Baker Stravenue\nNorth Christopher, WI 90462",M,62.00,47.00,Commerce,50.00,Comm&Mgmt,False,0,76.00,Mkt&HR,54.96,NaN,False,NaT,NaT,NaN
15,17279,"PSC 1354, Box 1414\nAPO AA 25325",F,65.00,75.00,Commerce,69.00,Comm&Mgmt,True,1,72.00,Mkt&Fin,64.66,20000.0,True,2020-07-25,2020-11-05,3.0
16,17280,"081 Carrie Square Apt. 439\nJohnsontown, NM 66991",M,63.00,66.20,Commerce,65.60,Comm&Mgmt,True,1,60.00,Mkt&Fin,62.54,30000.0,True,2020-01-29,2020-08-09,6.0
17,17281,"36924 Jamie Cliffs\nPhillipmouth, TX 21393",F,55.00,67.00,Commerce,64.00,Comm&Mgmt,False,0,60.00,Mkt&Fin,67.28,NaN,False,NaT,NaT,NaN
18,17282,"8065 Williams Lodge\nRichardfurt, MT 35336",F,63.00,66.00,Commerce,64.00,Comm&Mgmt,False,0,68.00,Mkt&HR,64.08,NaN,False,NaT,NaT,NaN
19,17283,"87765 William Mews Suite 474\nMichaelhaven, IL...",M,60.00,67.00,Arts,70.00,Comm&Mgmt,True,1,50.48,Mkt&Fin,77.89,23600.0,True,2020-01-24,2021-01-08,12.0

In [19]:
model = TVAE(primary_key='student_id',anonymize_fields={'address': 'address' })
model.fit(data_pii)
new_data_pii = model.sample(200)
new_data_pii.head(20)

/usr/local/lib/python3.7/dist-packages/sklearn/mixture/_base.py:282: ConvergenceWarning: Initialization 1 did not converge. Try different init parameters, or increase max_iter, tol or check for degenerate data.
  ConvergenceWarning,
/usr/local/lib/python3.7/dist-packages/sklearn/mixture/_base.py:282: ConvergenceWarning: Initialization 1 did not converge. Try different init parameters, or increase max_iter, tol or check for degenerate data.
  ConvergenceWarning,
/usr/local/lib/python3.7/dist-packages/sklearn/mixture/_base.py:146: ConvergenceWarning: Number of distinct clusters (4) found smaller than n_clusters (10). Possibly due to duplicate points in X.
  .fit(X)
/usr/local/lib/python3.7/dist-packages/sklearn/mixture/_base.py:146: ConvergenceWarning: Number of distinct clusters (4) found smaller than n_clusters (10). Possibly due to duplicate points in X.
  .fit(X)
/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:3678: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead.  To get a de-fragmented frame, use `newframe = frame.copy()`
  self[col] = igetitem(value, i)
/usr/local/lib/python3.7/dist-packages/ctgan/data_transformer.py:111: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data[column_name] = data[column_name].to_numpy().flatten()
/usr/local/lib/python3.7/dist-packages/ctgan/data_transformer.py:111: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data[column_name] = data[column_name].to_numpy().flatten()
/usr/local/lib/python3.7/dist-packages/ctgan/data_transformer.py:111: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data[column_name] = data[column_name].to_numpy().flatten()
/usr/local/lib/python3.7/dist-packages/ctgan/data_transformer.py:111: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data[column_name] = data[column_name].to_numpy().flatten()
/usr/local/lib/python3.7/dist-packages/ctgan/data_transformer.py:111: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data[column_name] = data[column_name].to_numpy().flatten()
/usr/local/lib/python3.7/dist-packages/ctgan/data_transformer.py:111: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data[column_name] = data[column_name].to_numpy().flatten()
/usr/local/lib/python3.7/dist-packages/ctgan/data_transformer.py:111: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data[column_name] = data[column_name].to_numpy().flatten()
/usr/local/lib/python3.7/dist-packages/ctgan/data_transformer.py:111: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data[column_name] = data[column_name].to_numpy().flatten()
/usr/local/lib/python3.7/dist-packages/ctgan/data_transformer.py:111: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data[column_name] = data[column_name].to_numpy().flatten()
/usr/local/lib/python3.7/dist-packages/ctgan/data_transformer.py:111: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data[column_name] = data[column_name].to_numpy().flatten()

,student_id,address,gender,second_perc,high_perc,high_spec,degree_perc,degree_type,work_experience,experience_years,employability_perc,mba_spec,mba_perc,salary,placed,start_date,end_date,duration
0,0,"0433 Scott Crescent\nNorth Juliefurt, UT 00651",M,58.47,62.05,Commerce,70.58,Comm&Mgmt,False,0,55.74,Mkt&Fin,58.52,20400.0,True,2020-01-19,2020-11-13,3.0
1,1,88492 Lauren Harbors Suite 268\nWest Xaviervil...,F,64.81,63.01,Science,66.56,Comm&Mgmt,False,0,68.54,Mkt&Fin,65.76,28000.0,True,2020-07-13,2020-11-18,3.0
2,2,"284 Case Wells Apt. 892\nPort Marco, WV 79508",M,54.22,56.29,Commerce,69.52,Comm&Mgmt,False,0,63.75,Mkt&Fin,59.22,26600.0,True,2020-01-05,2021-02-02,3.0
3,3,"098 Gregory Roads\nMorrisonfurt, MT 24451",M,69.32,82.71,Commerce,82.68,Comm&Mgmt,True,1,52.52,Mkt&Fin,57.79,24900.0,True,2020-01-21,2020-07-24,6.0
4,4,"8181 George Views\nNew Thomasburgh, RI 30226",M,73.85,63.69,Commerce,68.51,Comm&Mgmt,True,1,78.35,Mkt&Fin,67.17,24400.0,True,2020-01-30,2020-07-04,6.0
5,5,"79893 Edwards Divide\nZunigaton, MA 85953",M,73.88,70.23,Commerce,70.32,Comm&Mgmt,True,1,61.49,Mkt&Fin,58.75,21400.0,True,2020-01-22,2020-12-13,3.0
6,6,"20722 Stafford Groves Suite 884\nRicebury, LA ...",M,72.27,62.43,Commerce,66.90,Comm&Mgmt,False,0,64.44,Mkt&Fin,55.24,30300.0,True,2020-07-26,2020-09-26,3.0
7,7,"PSC 3102, Box 4734\nAPO AA 13177",F,75.01,78.62,Commerce,65.64,Comm&Mgmt,False,0,77.69,Mkt&Fin,62.84,22100.0,True,2020-01-17,2020-05-20,3.0
8,8,"33494 Nina Parkway\nBrittanyburgh, DC 47670",M,62.66,49.75,Science,67.10,Comm&Mgmt,False,0,89.45,Mkt&Fin,69.35,NaN,False,NaT,NaT,NaN
9,9,"8113 Tammy Club\nMcdowelltown, MS 28785",M,59.73,61.97,Science,69.91,Comm&Mgmt,True,1,55.49,Mkt&Fin,55.00,25000.0,True,2020-01-12,2020-11-22,3.0
10,10,"68729 Chelsea Mountains\nNew Alisonton, NJ 55126",M,63.40,54.33,Commerce,58.48,Comm&Mgmt,False,0,87.14,Mkt&Fin,53.20,23500.0,True,2020-01-18,2020-05-18,3.0
11,11,"049 Williams Glen Suite 208\nLake Tyler, NV 34041",M,60.62,63.46,Commerce,73.75,Comm&Mgmt,False,0,57.49,Mkt&Fin,55.18,22000.0,True,2020-01-16,2020-08-06,6.0
12,12,"258 Mario Plaza\nLake Danielberg, RI 08967",M,68.59,69.08,Commerce,77.58,Comm&Mgmt,False,0,58.98,Mkt&Fin,59.42,30200.0,True,2020-07-20,2020-10-25,3.0
13,13,"45638 Riddle Points Suite 297\nCarolstad, MS 5...",M,73.48,67.32,Commerce,67.70,Comm&Mgmt,False,0,50.00,Mkt&HR,57.14,24400.0,True,2020-01-22,2020-12-18,3.0
14,14,USCGC Chambers\nFPO AA 11110,M,69.26,82.57,Science,59.76,Comm&Mgmt,True,1,52.23,Mkt&Fin,55.53,24600.0,True,2020-01-22,2020-12-27,3.0
15,15,"37877 Caleb Mountains\nNew Kristinastad, WA 60477",F,78.41,70.90,Commerce,72.55,Comm&Mgmt,False,0,52.32,Mkt&Fin,59.16,24300.0,True,2020-01-18,2020-08-09,3.0
16,16,"8834 Rachael Inlet\nRandallton, TX 36932",M,51.81,65.17,Commerce,66.41,Comm&Mgmt,False,0,56.97,Mkt&Fin,54.10,23300.0,True,2020-01-14,2020-11-08,3.0
17,17,"20693 Michael Port\nSouth Maryburgh, GA 11922",M,83.16,63.55,Commerce,76.38,Comm&Mgmt,False,0,87.46,Mkt&Fin,67.56,28100.0,True,2020-07-07,2020-10-09,3.0
18,18,"5350 Rice Lakes\nWest Tony, PA 64708",F,53.31,78.74,Commerce,64.82,Comm&Mgmt,False,0,57.98,Mkt&HR,57.88,27000.0,True,2020-07-22,2020-10-11,3.0
19,19,"331 Harris Stream Apt. 391\nWarrenland, WY 22190",M,68.14,74.14,Commerce,71.00,Comm&Mgmt,False,0,83.50,Mkt&HR,56.64,22800.0,True,2020-01-16,2020-05-30,3.0